.idea/.name
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/gn2_newsletterconnect.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
atlassian-ide-plugin.xml
